---
import './Filters.css';

const types = [
  "all", "fire", "water", "grass", "electric", "psychic", "ice",
  "dragon", "dark", "fighting", "poison", "ground", "rock",
  "bug", "ghost", "normal", "steel", "fairy", "flying"
];
---

<div class="filters">
  {types.map(type => (
    <button class="filter-btn" data-type={type}>{type}</button>
  ))}
</div>
